[Unit]
Description=ZClassic23 Full Node + Block Explorer
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=%h/zclassic23/zclassic23 \
    -datadir=%h/.zclassic-c23 \
    -port=8033 \
    -rpcport=18232 \
    -listen \
    -txindex \
    -tor \
    -externalip=205.209.104.118 \
    -addnode=127.0.0.1:8034 \
    -addnode=140.174.189.17 \
    -addnode=140.174.189.3 \
    -addnode=37.187.76.79 \
    -addnode=162.55.92.62 \
    -addnode=157.90.223.151 \
    -addnode=157.173.195.203 \
    -addnode=85.239.232.93 \
    -addnode=154.38.178.121 \
    -addnode=51.178.179.75 \
    -showmetrics=0
Restart=on-failure
RestartSec=10
StandardOutput=append:%h/.zclassic-c23/node.log
StandardError=append:%h/.zclassic-c23/node.log

[Install]
WantedBy=default.target
